

/*** modal */

.mcl{
    display: none;
    width: 100%;
    height: 100vh;
    z-index: 4444;
    position: fixed;

    top: 0;
    left: 0;
}

.mcl.fader{
    background: rgba(0, 0, 0, 0.8);
}


/*.mcl .travel.center-large{*/
/*    max-width: 1000px;*/
/*    max-height: 700px;*/
/*    margin: 0 auto;*/
/*    width: 700px;*/
/*    height: 400px;*/
/*    !*background: teal;*!*/
/*    top: 157px;*/
/*    position: fixed;*/
/*    left: 33px;*/
/*    right: 33px;*/

/*     transform: scale(0);*/

/*}*/
.mcl .close{
    cursor: pointer;
}



.camodal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    /*top: 90px;*/
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: .3rem;
    outline: 0;
    border: 0;
    border-radius: .125rem;
    -webkit-box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
    box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
}




.modal-header {
    border: 0;
    -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    display: -ms-flexbox;
    border-bottom: 1px solid #dee2e6;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: .125rem;
    border-top-right-radius: .125rem;

    background-color: #0072ff2e;
    background-color: #33b5e5;

    background: url(../img/asfalt-light.png);
    background-color: rgb(0 149 255);
    background-image: linear-gradient(            35deg            , #0000006b, #0000000f);

}

.mcl .modal-header .close {
    float: right;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    top: 0px;
    position: relative;
    right: 12px;
    font-size: 25px;
    font-weight: 800;
    color: white;
    transition: all 0.4s ease-out;
    font-family: sans-serif;
}
.mcl .heading{
   position: relative;
    top: 11px;
    color: white;
}
.mcl .close{
    position: relative;
    top: -3px;
    right: 4px;
}

.center .modal-body{
    padding: 1.5rem;
    color: #000000;
    max-height: 45vh;
    overflow: hidden;
    overflow-y: auto;


}

.right .modal-body{
    padding: 1.5rem;
    color: #000000;
    max-height: 45vh;
    overflow: hidden;
    /*color: white;*/
    overflow-y: auto;
    text-shadow: 2px 2px 6px #0000000f;
    font-weight: 100;


}



.center .modal-footer {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: left;
    padding: .75rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
    background: aliceblue;
    /*border-top: 2px groove #e0e0e0;*/
}

 .right .modal-footer {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: left;
    padding: .75rem;
    /*border-top: 1px solid #dee2e6;*/
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
    /*background: aliceblue;*/
    border-top: 2px groove #e0e0e0;
}

.mcl{
    color: black;
}








.mcl .btn, .mind .btn  {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin: .375rem;
    color: inherit;
    text-transform: uppercase;
    word-wrap: break-word;
    white-space: normal;
    cursor: pointer;
    border: 0;
    border-radius: .125rem;
    -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    /*padding: .84rem 2.14rem;*/
    font-size: .81rem;


}


.mind .btn  {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin: .375rem;
    color: inherit;
    text-transform: uppercase;
    word-wrap: break-word;
    white-space: normal;
    cursor: pointer;
    border: 0;
    border-radius: .125rem;
    -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    /*padding: .84rem 2.14rem;*/
    font-size: .81rem;


}


.mcl .btn-primary {
    background-color: #008bed;
    min-width: 50px;
    color: #ffffff;
    padding: .84rem 2.14rem;
}

.mcl .btn-secondary {
    background-color: #008bee;
    min-width: 50px;
    color: #fff;
    padding: .84rem 2.14rem;
}

.mcl .btn-primary:hover  {
    outline: 0;
    -webkit-box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
    box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
}

.btn.secundary {
    margin-top: 12px;
    color: #ffffff;
    background-color: #468ed9;
    background-repeat: repeat-x;
    background-image: linear-gradient(0deg, #3b3b3b, transparent);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0);
    text-shadow: 0 -1px 0 rgb(0 0 0 / 25%);
    border-color: #0064cd #0064cd #003f81;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

